@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,500&family=Share+Tech&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  font-weight: 500;
}

body {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: #f9fafb;
}

/* SIDEBAR */

.side {
  position: relative;
  background-image: url(./assets/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: clamp(300px, calc(100vw / 3), 500px);
}

.logo {
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: clamp(100px, 20vh, 30vh);
}

.logo img {
  width: clamp(100px, 5vw, 200px);
  height: auto;
}

.logo-text {
  font-size: 4rem;
}

.credit {
  width: 100%;
  display: flex;
  justify-content: center;
}

.photo-credit {
  color: #fff;
  position: absolute;
  bottom: 1rem;
  font-size: 1rem;
}

.photo-credit a {
  color: #fff;
}

/* FORM */

.form-container {
  flex: 1;
  font-size: 1.5rem;
  padding-top: 4rem;
}

.form-container p {
  padding-left: 4rem;
}

.form-area {
  background: #fff;
  width: 100%;
  padding: 1.5rem 4rem;
  box-shadow: 0px 4px 10px #bbbbbb;
}

.form-row {
  display: flex;
  margin-bottom: 1rem;
}

.form-element {
  margin: 1rem 4rem 1rem 0;
}

label {
  display: block;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 0.1ch;
  font-weight: 500;
}

input {
  font-size: 1rem;
  border-radius: 4px;
  padding: 1rem 0.5rem;
  height: 1.5rem;
  border: 1px solid rgba(204, 204, 204, 0.8);
}

input:focus {
  outline: none;
  border: 2px solid #7f9ae5;
  box-shadow: 1px 1px 2px #bbbbbb ;
}

button {
  color: #fff;
  font-size: 1.25rem;
  margin: 4rem;
  background-color: #596D48;
  padding: 1rem 2.75rem;
  border:none;
  border-radius: 12px;
  box-shadow: 1px 1px 6px #bbb;
}

.login-button {
  text-decoration: none;
  color: #596D48;
}
